---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import Team from '~/components/widgets/Team.astro';

const metadata = {
  title: 'About us',
};
---

<!-- <Layout metadata={metadata}> -->
<section class="bg-white dark:bg-gray-800" id="aboutUs">
  <Hero
      tagline="About us"
      image={{
        src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'Company Image',
      }}
    >
    <Fragment slot="title">
      Enhance your digital footprint with our <br />
      <a class="text-accent dark:text-white highlight" href="/#services"> Services</a>
    </Fragment>

    <Fragment slot="subtitle">
      Our company is dedicated to providing top-notch digital solutions that help businesses grow. We offer a wide range of services, from web design and development to digital marketing strategies. Our team of experienced professionals is committed to delivering high-quality results that meet the unique needs of each client. We believe in the power of digital technology to transform businesses, and we strive to create digital experiences that are engaging, user-friendly, and effective.
    </Fragment>
  </Hero>
  <Team
    teamMembers={[
      {
        name: 'Name Member',
        description: 'Position',
        imageUrl: 'https://via.placeholder.com/150',
        url: 'https://www.linkedin.com'
      },
      {
        name: 'Name Member',
        description: 'Position',
        imageUrl: 'https://via.placeholder.com/150',
        url: 'https://www.linkedin.com'
      },
      {
        name: 'Name Member',
        description: 'Position',
        imageUrl: 'https://via.placeholder.com/150',
        url: 'https://www.linkedin.com'
      },
      {
        name: 'Name Member',
        description: 'Position',
        imageUrl: 'https://via.placeholder.com/150',
        url: 'https://www.linkedin.com'
      },
      {
        name: 'Name Member',
        description: 'Position',
        imageUrl: 'https://via.placeholder.com/150',
        url: 'https://www.linkedin.com'
      },
      {
        name: 'Name Member',
        description: 'Position',
        imageUrl: 'https://via.placeholder.com/150',
        url: 'https://www.linkedin.com'
      },
    ]}
  />
  <Steps2
    title="Our Values"
    subtitle="At Nogadev, we believe in creating software solutions that truly make a difference. Here are the values that guide our work:"
    items={[
      {
        title: 'Customer-Centric Approach',
        description:
          'Our clients are our top priority. We strive to understand their unique needs and challenges, and we design custom software solutions that help them achieve their business objectives. We believe in building long-term relationships based on trust and mutual respect.',
      },
      {
        title: 'Continuous Improvement',
        description:
          'We are committed to continuous learning and improvement. We stay abreast of the latest technologies and industry trends, and we constantly refine our methodologies to ensure we are delivering the most effective and efficient solutions.',
      },
      {
        title: 'Ethical Practices',
        description:
          'We uphold the highest standards of integrity in all our business dealings. We are transparent in our communications, we honor our commitments, and we treat everyone with fairness and respect. We believe that ethical practices are essential to our success.',
      },
    ]}
  />
</section>
