.react-chatbot-kit-chat-container {
  height: 417px;
  background: none;
  backdrop-filter: blur(10px);
  background: #0c0d0e7c;
  border-radius: 20px;
  overflow: hidden;
}
.react-chatbot-kit-chat-inner-container {
  border-radius: 20px;
  height: 100%;
  overflow-wrap: break-word;
  background: none;
}
.react-chatbot-kit-chat-header {
  border-radius: 20px 20px 0 0;
  /* border-bottom: #0f248bbd solid 1px; */
  /* box-shadow: 2px 7px 11px 0px #0f248bbd; */
  background: #3e5287;
  color:  white;
}
.react-chatbot-kit-user-chat-message-arrow {
  border-left:9px solid  #34487d;
  top:  4px;
}
.react-chatbot-kit-user-chat-message{
  background:  #34487d;
  color: white;
}
.react-chatbot-kit-user-chat-message:hover{
  box-shadow: 3px 3px 13px -4px rgb(0 0 0 / 77%);
}
.react-chatbot-kit-chat-input-container {
  background: #020c3dbd;
  border-radius: 0 0 30px 0px;
  opacity: 1;
  border-radius: 0 0 20px 20px;
}
.react-chatbot-kit-chat-message-container {
  padding-bottom: 30px;
  height: 90%;
  
}
.react-chatbot-kit-chat-message-container::-webkit-scrollbar {
  width: 7px;
  background: none
}
.react-chatbot-kit-chat-message-container::-webkit-scrollbar-thumb {
  background:rgba(255, 255, 255, 0.555);
  border-radius: 5px;
}
.react-chatbot-kit-chat-input {
  background: #3e5287;
  outline: none;
  color: white;
  border-top: 1px solid #3e5287;
  border-radius: 0 0 0 20px;
}
.react-chatbot-kit-chat-input::placeholder{
  color: white;
}
.react-chatbot-kit-chat-btn-send {
  border-radius: 0 0 20px 0px;
  background: #162A5F;
}
.react-chatbot-kit-chat-bot-message {
  background: #000c41;
  border-radius: 7px 10px 10px 10px ;
  transition: all 0.2s;
}
.react-chatbot-kit-chat-bot-message-arrow {
  top:  4px;
  border-right: 9px solid #000c41;
}
.animationIcon {
  animation: moveUpDown 2s ease-in-out infinite; 
}
.animationIcon:hover .AnimationP  {
  scale: 1;
  transform: translate(50px , -100px);
}
.animationIcon:hover .AnimationPHelp  {
  scale: 1;
  transform: translate(50px , -57px);
}
.AnimationNone {
  scale: 0;
  transition: all 0.3s ease;
}
.AnimationPInition{
  scale: 1;
  transform: translate(50px , -100px);
}
.AnimationHelpInition {
  scale: 1;
  transform: translate(50px , -57px);
}
.rocket {
  animation: rocketAnimation 1.5s ease-in-out forwards; 
}
@keyframes rocketAnimation {
  0% {
    transform: translateX(-10vw) translateY(10vh) rotate(120deg); 
  }
  50% {
    transform: translateX(2vw) translateY(-5vh) rotate(-45deg); 
  }
  100% {
    transform: rotate(-45deg); 
  }
}
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); 
  }
}
@media (min-width: 600px) {
    .react-chatbot-kit-chat-bot-message:hover {
        box-shadow: 5px 5px 13px -2px rgb(255 255 255 / 34%);
      } 
      .react-chatbot-kit-chat-container{
        height: 487px;
      }
}