---
import { SITE } from '~/utils/config';
---

<div>
  <img src="../assets/images/logo-nogadev.svg" alt="">
  <span class="self-center flex flex-col md:flex-row items-start md:items-center gap-1 ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
    {SITE?.name}
    <span class="text-sm md:text-xl">Software Solutions</span>
  </span>
</div>
